<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/partials/adminPanel.css">
    <link rel="stylesheet" href="/css/admin/addMovie.css">
    <script src="/js/adminPanel.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="upload-slider">
        <%- include("../partials/adminPanel") %>
            <section class="home-section">
                <div class="home-content">
                    <i class='bx bx-menu'></i>
                    <span class="text">Cenflix | Movies | Add Movie</span>
                </div>
                <div class="upload-form">
                    <form action="/admin/addMovie" method="POST" enctype="multipart/form-data">
                        <div class="input-box">
                            <label for="movieID">Movie ID</label><br>
                            <input type="text" id="movieID" name="movieID" placeholder="Enter Movie ID" required>
                        </div>
                        <div class="input-box">
                            <label for="movieName">Movie Name</label><br>
                            <input type="text" id="movieName" name="movieName" placeholder="Enter Movie Name" required>
                        </div><br>
                        <div class="input-box">
                            <label for="movieStatus">Movie Status</label><br>
                            <select name="movieStatus" id="movieStatus" name="movieStatus" class="movieStatus" required>
                                <option value="Running">Running</option>
                                <option value="Featured">Featured</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <label for="moviePG">Parental Guidance</label><br>
                            <select id="moviePG" name="moviePG" class="moviePG"
                                required>
                                <option value="13">13+</option>
                                <option value="14">14+</option>
                                <option value="15">15+</option>
                                <option value="16">16+</option>
                                <option value="17">17+</option>
                                <option value="18">18+</option>
                            </select>
                        </div><br>
                        <div class="input-box">
                            <label for="movieIndustry">Movie Industry</label><br>
                            <select name="movieIndustry" id="movieIndustry" name="movieIndustry" class="movieIndustry"
                                required>
                                <option value="BollyWood">BollyWood</option>
                                <option value="HollyWood">HollyWood</option>
                                <option value="LollyWood">LollyWood</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <label for="movieGenre">Movie Genre</label><br>
                            <select name="movieGenre" id="movieGenre" name="movieGenre" class="movieGenre" required>
                                <option value="Action">Action</option>
                                <option value="Romance">Romance</option>
                                <option value="thriller">thriller</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Horror">Horror</option>
                                <option value="Adult">Adult</option>
                                <option value="Drama">Drama</option>
                                <option value="Sports">Sports</option>
                                <option value="Family">Family</option>
                                <option value="Music">Music</option>
                                <option value="Crime">Crime</option>
                                <option value="Animation">Animation</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Biography">Biography</option>
                                <option value="Documentary">Documentary</option>
                                <option value="History">History</option>
                                <option value="War">War</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Fantasy">Fantasy </option>
                                <option value="Western">Western </option>
                                <option value="Psycho">Psycho</option>
                            </select>
                        </div><br>
                        <div class="input-box">
                            <label for="movieDuration">Movie Duration</label><br>
                            <input type="text" id="movieDuration" name="movieDuration"
                                placeholder="Enter Movie Duration" required>
                        </div>
                        <div class="input-box">
                            <label for="movieTrailer">Movie Trailer</label><br>
                            <input type="url" id="movieTrailer" name="movieTrailer" placeholder="Enter Movie Trailer"
                                required>
                        </div><br>
                        <div class="input-box">
                            <label for="ticketPrice">Ticket Price</label><br>
                            <input type="number" id="ticketPrice" name="ticketPrice" placeholder="Enter Ticket Price"
                                required>
                        </div>  
                        <div class="input-box">
                            <label for="showDate">Show Date</label><br>
                            <input type="date" id="showDate" name="showDate" placeholder="Enter Show Date" required>
                        </div><br>
                        <div class="input-box">
                            <label for="showTime">Show Time</label><br>
                            <input type="time" id="showTime" name="showTime" placeholder="Enter Show Time" required>
                        </div>
                        <div class="input-box">
                            <label for="moviePoster">Movie Poster</label><br>
                            <input type="file" id="moviePoster" name="moviePoster" placeholder="Enter Movie Poster"
                                required>
                        </div><br>
                        <input type="submit" value="Add Movie">
                    </form>
                </div>
            </section>
</body>

</html>