    <footer>
        <h1>CENFLIX</h1>
        <div class="footerNavbar">
            <ul>
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>About Us</li>
                </a>
                <a href="#">
                    <li>Contact Us</li>
                </a>
                <a href="#">
                    <li>Services</li>
                </a>
                <a href="#">
                    <li>Feedback</li>
                </a>
            </ul>
        </div>

        <div class="socials">
            <p>Stay In Touch</p>
            <ul>
                <a href=""><i class="fa fa-facebook iconStyling"></i></a>
                <a href="#"><i class="fab fa-instagram iconStyling"></i></a>
                <a href="#"><i class="fab fa-twitter iconStyling"></i></a>
                <a href="#"><i class="fa fa-snapchat iconStyling"></i></a>
            </ul>
        </div>

        <hr class="horizontalLine">
        <p class="copyright">&copy; Colorlib. All Rights Reserved.</p>

    </footer>
