<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a3aad2d743.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/landingPage.css">
    <title>Cenflix</title>
</head>

<body>
    <div class="navbar">
        <img src="/images/resources/cenflixLogo.png" alt="" height="53px" width="167px">
        <div class="navBtns">
            <div class="btn btn1">
                <a href="/whosThere" class="signInBtn">Sign In</a>
            </div>
            <div class="btn btn2">
                <a href="/user/signUp" class="signUpBtn">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <h1>CENFLIX WORLD</h1>
        <p>EXPERIENCE THE BEST ICONIC VENUE FOR FILM, THEATER & MUCH MORE. </p>
        <div class="mainBtn">
            <a href="/whosThere" class="startBtn">GET STARTED</a>
        </div>
    </div>
</body>

</html>