<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a3aad2d743.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/user/aboutUs.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <title>Document</title>
</head>

<body>

    <nav class="navBar">
        <img src="/images/resources/cenflixLogo.png" alt="" height="30px" width="120px">
        <div class="navLinks">
            <a href="/user/homePage">Home</a>
            <a href="/user/aboutUs" class="temp">About Us</a>
            <a href="/user/contactUs">Contact Us</a>
            <a href="/user/logOut">LogOut</a>
        </div>
    </nav>

    <div class="p-boxes">
        <div class="box">
            <div class="p-icon"><div class="icon"><img src="/images/resources/film.png" alt=""></div></div>
            <div class="heading">Latest Movies</div>
            <div class="paragraph">
                With the busy life we understand you cannot keep track of which movie is in the cinemas and that’s why Bookitnow.pk is here to serve you. Latest movies , upcoming movies , show times all over Pakistan , trailers and ticket booking.Log on to website or download our Bookitnow.pk app for your convenience. trailers and ticket booking.Log on to website or download our app for convenience.
            </div>
        </div>
        <div class="box">
            <div class="p-icon"><div class="icon"><img src="/images/resources/mask.png" alt=""></div></div>
            <div class="heading">Upcoming Events</div>
            <div class="paragraph">
                Stay connected with what’s happening around to plan your evenings and weekends.Whether it’s a training you are looking for ,concert to attend,charity event to play your part , theatre for exciting live performances , family festivals , sports , educational programs , parties and a lot more – Bookitnow.pk is your one stop solution for staying updated and buying tickets to be a part of the event of your choice.
            </div>
        </div>
        <div class="box">
            <div class="p-icon"><div class="icon"><img src="/images/resources/ticket.png" alt=""></div></div>
            <div class="heading">Book Tickets</div>
            <div class="paragraph">
                Booking tickets has never been easy to save time with this fast paced life routine.Choose the event of your choice , order the tickets and get them delivered at your doorstep.Want to plan a movie without the hassle of standing in the queue and taking a risk to check availability – let us bring the cinema seating to you – log in , choose the movie , select the seats and pay online to buy your ticket !
            </div>
        </div>
    </div>
</body>

</html>