.upload-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem auto;
}

span{
    font-weight: bold;
    color: #1d1b31;
}

input[type="file"]{
    border: 2px solid #1d1b31;
    padding: 1em;
    margin-bottom: 1rem;
}

input[type="submit"]{
    background-color: #1d1b31;
    border: 2px solid #fff;
    padding: 1em 1.3em;
    color: white;
    border-color: azure;
    margin: 0.5rem 5.6rem;
    cursor: pointer;
    font-size: 0.9rem;
}
